.gwts-GMenuItem input {
	border: none;
}

.gwts-GComponent {
	background-color: #ddddbb;
	font-size: 16px;
	position: absolute;
	display: inline;
	font-family: sans-serif;
	overflow: hidden;
}
.gwts-GLabel {
	background-color: #ddddbb;
	color: #000000;
	padding-left: 3px;
	padding-right: 2px;
	vertical-align: middle;
}

.gwts-GLabel img {
	vertical-align: middle;
}

.gwts-GComboBox select {
	width: inherit;
	border-radius: 5px;
	border-width: 1px;
	border-color: #555555;
	border-style: solid;
}

img.disabled {
	filter: grayscale(100%);
	filter: opacity(0.5);
}

.gwts-UploadButton-box {
	background-color: #ccb879;
}
	
.gwts-UploadButton-label {
}
	
.gwts-UploadButton-input {
   width: 0.1px;
   height: 0.1px;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
}

.gwts-UploadButton-icon {
	padding: 0px;
}
	
.gwts-GTree {
	background: #eeeecc;
	cursor: default;
}

.gwts-GTable-header {
	background: #aaaaaa;
	cursor: default;
}

.gwts-GTable-content {
	background: #f1f1f1;
	cursor: default;
}

.gwts-GTable {
	cursor: default;
}

.gwts-GProgressBar-indicator {
	background-color: #3030FF;
}

.gwts-GProgressBar {
	border-radius: 3px;
	border: solid 1px #444444;
}

div {
	position: absolute;
	display: inline;
}

input {
	margin: auto;
}

.gwts-GButton {
	position: absolute;
	cursor: default;
	padding-bottom: 1px;
	padding-top: 2px;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
	background-color: #bbbbbb;
	border-radius: 4px;
	border-width: 2px;
	border-style: solid;
	border-color: #303030;
}

.gwts-GToggleButton {
	position: absolute;
	cursor: default;
	padding-bottom: 1px;
	padding-top: 2px;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
	background-color: #bbbbbb;
	border-radius: 4px;
	border-width: 2px;
	border-style: solid;
	border-color: #303030;
}

.gwts-GMenuItem {
	position: absolute;
	cursor: default;
	padding-bottom: 1px;
	padding-top: 2px;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
	background-color: #bbbbbb;
	border-radius: 0px;
	border-width: 0px;
	border-style: solid;
	border-color: #303030;
}

.gwts-GMenu {
	position: absolute;
	cursor: default;
	padding-bottom: 1px;
	padding-top: 2px;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
	background-color: #bbbbbb;
}

.gwts-GButton-active {
	background-color: #808080;
}

.gwts-GToggleButton-active {
	background-color: #808080;
}

.gwts-GButton img {
	vertical-align: top;
}

.gwts-textInput {
	position: absolute;
	border-style: solid;
	border-radius: 5px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: #555555;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.gwts-GTextArea {
	border-width: 1px;
	border-color: #555555;
	border-style: solid;
	border-radius: 5px;
	resize: none;
	padding: 2px;
	background-color: #ffffff;
	overflow: initial;
}

.gwts-GScrollPane {
	border-radius: 5px;
	border-width: 1px;
	border-color: #555555;
	border-style: solid;
}

.gwts-GScrollPane-Viewport {
	overflow: auto;
	position: absolute;
	display: inline;
}

.gwts-GList {
	background-color: #eeeecc;
	overflow: hidden;
	cursor: default;
}

.gwts-GTabbedPane-Tab {
	background: transparent;
}

.gwts-GTabbedPane-Tabs {
	cursor: default;
	background: #afa78e;
}

.gwts-GTree-selected {
	background-color: #bbbbdd;
}

.gwts-TitledPanel .gwts-HeaderPanel {
	background: #efe7ce;
}

.gwts-TooltipPopup {
	background: #bbbbFF;
	border: solid 1px #555599;
	padding: 2px;
	border-radius: 5px;
}

.gwts-GWindow-header {
	background-color: #999999;
}

.gwts-PartitionedPanel-Separator-text {
	color: #943c36;
}

.gwts-PartitionedPanel-Separator-line {
	background-color: #943c36;
}

.gwts-GSlider-vertical {
	-webkit-appearance: slider-vertical;
}

.gwts-GTitledBorder {
	color: #999999;
}

@keyframes fadeIn {
	0% {opacity: 0;	}
	100% {opacity: 1; }
}

@keyframes fadeOut {
	0% {opacity: 1; }
	100% {opacity: 0; }
}

@keyframes expandHorizontal {
	0% {width: 0px;	}
	100% {}
}

.gwts-animation-fadeIn {
    animation: fadeIn;
}

.gwts-animation-fadeOut {
    animation: fadeOut;
}

.gwts-animation-expandHorizontal {
    animation: expandHorizontal;
}